In [5]:
import pandas as pd
import numpy as np

In [6]:
file = "beer_reviews.csv"
file2 = "breweries.csv"
fil3 = "drunk_python.csv"

In [7]:
reviews_df = pd.read_csv(file)
breweries_df = pd.read_csv(file2)
open_df = pd.read_csv(file3)

FileNotFoundError: File b'beer_reviews.csv' does not exist

In [4]:
breweries_df = breweries_df.rename(columns = {"name":"brewery_name"})
breweries_df.head()

   Unnamed: 0               brewery_name           city state
0           0         NorthGate Brewing     Minneapolis    MN
1           1  Against the Grain Brewery     Louisville    KY
2           2   Jack's Abby Craft Lagers     Framingham    MA
3           3  Mike Hess Brewing Company      San Diego    CA
4           4    Fort Point Beer Company  San Francisco    CA

In [5]:
merge_brewery_df = pd.merge(breweries_df, reviews_df, on = "brewery_name")
merge_brewery_df.head()

,Unnamed: 0,brewery_name,city,state,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,5,COAST Brewing Company,Charleston,SC,16354,1227490805,4.5,3.5,4.5,RblWthACoz,American IPA,4.0,4.0,HopArt IPA,7.7,39236
1,5,COAST Brewing Company,Charleston,SC,16354,1294519656,5.0,5.0,5.0,tmock10,American IPA,4.5,4.5,HopArt IPA,7.7,39236
2,5,COAST Brewing Company,Charleston,SC,16354,1289272808,4.0,4.5,4.5,Thorpe429,American IPA,4.5,4.0,HopArt IPA,7.7,39236
3,5,COAST Brewing Company,Charleston,SC,16354,1281284258,4.0,4.0,4.0,craytonic,American Porter,4.0,4.5,"Porter, Smoked",5.8,54235
4,5,COAST Brewing Company,Charleston,SC,16354,1275158254,3.5,4.0,5.0,brentk56,American Porter,3.5,3.5,"Porter, Smoked",5.8,54235

In [ ]:
merge_brewery_df_2 = pd.merge(merge_brewery_df, open_df, on = "brewery_name")
merge_brewery_df_2.head()

In [6]:
merge_brewery_df_3 = merge_brewery_df_2.drop_duplicates("beer_name")
merge_brewery_df_3.head()

,Unnamed: 0,brewery_name,city,state,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,5,COAST Brewing Company,Charleston,SC,16354,1227490805,4.5,3.5,4.5,RblWthACoz,American IPA,4.0,4.0,HopArt IPA,7.7,39236
3,5,COAST Brewing Company,Charleston,SC,16354,1281284258,4.0,4.0,4.0,craytonic,American Porter,4.0,4.5,"Porter, Smoked",5.8,54235
201,5,COAST Brewing Company,Charleston,SC,16354,1284764862,5.0,4.5,4.5,jctribe25,American Black Ale,4.5,5.0,Event Horizon Cascadian Dark Ale,7.0,61391
211,5,COAST Brewing Company,Charleston,SC,16354,1323707408,4.0,4.5,4.0,jsanford,Belgian Strong Pale Ale,4.5,4.0,Wadmalaw Sunset,7.5,73387
216,5,COAST Brewing Company,Charleston,SC,16354,1236448030,4.5,4.0,4.5,mikesgroove,American IPA,5.0,4.5,HopArt Cask Dry Hopped,7.7,48187

In [4]:
grouped_brewery_df = merge_brewery_df_3.groupby(["state"])
grouped_brewery_df.head()

NameError: name 'merge_brewery_df_3' is not defined

In [8]:
average_abv = grouped_brewery_df["beer_abv"].mean().round(1)
average_abv

state
 AL    7.8
 AZ    6.3
 CA    6.9
 CO    7.6
 CT    6.4
 DE    7.3
 FL    6.7
 GA    7.7
 IA    5.9
 IL    6.5
 IN    6.7
 KS    5.5
 LA    5.0
 MA    6.5
 MD    7.2
 ME    6.0
 MI    6.7
 MN    6.6
 MO    6.1
 MT    7.0
 NC    6.1
 ND    5.6
 NE    7.3
 NH    9.0
 NJ    6.5
 NM    7.4
 NV    7.0
 NY    6.5
 OH    8.0
 OK    5.3
 OR    6.7
 PA    6.7
 RI    5.2
 SC    7.2
 TN    NaN
 TX    6.8
 UT    4.9
 VA    6.7
 VT    6.0
 WA    6.3
 WI    6.3
 WY    5.7
Name: beer_abv, dtype: float64

In [9]:
abv_df = pd.DataFrame(average_abv)
abv_df.sort_values(by = "beer_abv", ascending = False, inplace = True)
abv_df

       beer_abv
state
 NH         9.0
 OH         8.0
 AL         7.8
 GA         7.7
 CO         7.6
 NM         7.4
 DE         7.3
 NE         7.3
 SC         7.2
 MD         7.2
 MT         7.0
 NV         7.0
 CA         6.9
 TX         6.8
 PA         6.7
 FL         6.7
 IN         6.7
 OR         6.7
 VA         6.7
 MI         6.7
 MN         6.6
 IL         6.5
 NJ         6.5
 MA         6.5
 NY         6.5
 CT         6.4
 WA         6.3
 AZ         6.3
 WI         6.3
 NC         6.1
 MO         6.1
 ME         6.0
 VT         6.0
 IA         5.9
 WY         5.7
 ND         5.6
 KS         5.5
 OK         5.3
 RI         5.2
 LA         5.0
 UT         4.9
 TN         NaN

In [12]:
abv_df.to_csv("ETLOutput/abv_by_state.csv", header = True)